<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!-- <ion-navbar hide-nav-bar="true">
    <ion-title>login</ion-title>
  </ion-navbar> -->

</ion-header>


<ion-content class="login-content" padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-80>
        <img src="assets/imgs/infinity512.png"/>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

<div class="login-box">
<!-- <div id="recaptcha-container"></div> -->
      <ion-row>
        <ion-col>

          <ion-list center>

            <ion-item *ngIf="isPhoneNumberSubmit()">
              <ion-label stacked> Mobile Number </ion-label>
              <ion-input type="number" [(ngModel)]="phoneNumber"></ion-input>
            </ion-item>
            <ion-item *ngIf="isCodeVerified()">
              <ion-label stacked> Enter Verification Code </ion-label>
              <ion-input type="text" placeholder="Enter OTP" [(ngModel)]="code"></ion-input>
            </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col class="signup-col" >
            <button ion-button block (click)="PhoneVerification()" *ngIf="isCodeVerified()"> Verify This phone number </button>
            <button ion-button block (click)="send(phoneNumber)" *ngIf="isPhoneNumberSubmit()"> Sign In </button>

        </ion-col>
    </ion-row>
    </div>









</ion-content>
