<!-- Generated template for the AccordionLoftComponent component -->
<ion-card>
  <ion-card-header (click)="toggleAccordionSurveyor()">
    <ion-list>
      <ion-item color="primary">
        <button ion-button clear small icon-only item-right>
          <ion-icon color="light" [name]="icon"></ion-icon>
        </button>
        {{ title }}
      </ion-item>
    </ion-list>
  </ion-card-header>

<ion-card-content #surveyorForms>

<ion-grid>
    <ion-scroll scrollY="true">
  
<ion-item-divider>Bedroom Uploads</ion-item-divider>
<ion-row>
     
    <ion-col>
      <div class="progress" style="width:300px">
        <div class="progress-bar progress-bar-info progress-bar-striped"
          role="progressbar" attr.aria-valuenow="{{progressBedroom.percentage}}"
            aria-valuemin="0" aria-valuemax="100"
            [ngStyle]="{width:progressBedroom.percentage+'%'}">
            {{progressBedroom.percentage}}%
          </div>
      </div>
    </ion-col>
    <ion-col>
     <ion-label color="{{ colorBedroom }}">{{ progressBedroomStatus }}</ion-label>
    </ion-col>
    <ion-col>
      <ion-label color="primary">Bedroom </ion-label>
    </ion-col>

    <ion-col>
      <button ion-button (click)="openGallery('Bedroom')"> Choose File </button>
      <button ion-button (click)="capture('Bedroom')"> Take Photo </button>
      <button ion-button (click)="uploadImage('Bedroom')" *ngIf="bedroomImages.length"> Save Image </button>
    </ion-col>

 
</ion-row>
<ion-row>
    <ion-col>
        <ion-slides>
            <ion-slide *ngFor="let image of bedroomImages">
                <img src="{{image}}" height="300px" width="300px"/>
            </ion-slide>
        </ion-slides>
      </ion-col>
 </ion-row>
 

<ion-item-divider>Kitchen Uploads</ion-item-divider>
  <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressKitchen.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressKitchen.percentage+'%'}">
               {{progressKitchen.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorKitchen }}">{{ progressKitchenStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Kitchen</ion-label>
         </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('Kitchen')"> Choose File </button>
         <button ion-button (click)="capture('Kitchen')"> Take Photo </button>
         <button ion-button (click)="uploadImage('Kitchen')" *ngIf="kitchenImages.length"> Save Image </button>

       </ion-col>
       
      
  </ion-row>
  <ion-row>
      <ion-col>
         <ion-slides>
             <ion-slide *ngFor="let image of kitchenImages">
                 <img src="{{image}}"/>
             </ion-slide>
         </ion-slides>
       </ion-col>
  </ion-row>
  <ion-item-divider>Dining Room Uploads</ion-item-divider>
     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressDinningRoom.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressDinningRoom.percentage+'%'}">
               {{progressDinningRoom.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorDinningRoom }}">{{ progressDinningRoomStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Dining Room</ion-label>
        
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('DinningRoom')"> Choose File </button>
         <button ion-button (click)="capture('DinningRoom')"> Take Photo </button>
         <button ion-button (click)="uploadImage('DinningRoom')" *ngIf="diningRoomImages.length"> Save Image </button>

       </ion-col>
     
     </ion-row>
     <ion-row>
        <ion-col>
           <ion-slides>
               <ion-slide *ngFor="let image of diningRoomImages">
                   <img src="{{image}}" height="300px" width="300px"/>
               </ion-slide>
           </ion-slides>
         </ion-col>
       </ion-row>

     <ion-item-divider>Living Room Uploads</ion-item-divider>
     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressLivingRoom.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressLivingRoom.percentage+'%'}">
               {{progressLivingRoom.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorLivingRoom }}">{{ progressLivingRoomStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Living Room</ion-label>
        
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('LivingRoom')"> Choose File </button>
         <button ion-button (click)="capture('LivingRoom')"> Take Photo </button>
         <button ion-button (click)="uploadImage('LivingRoom')" *ngIf="livingRoomImages.length"> Save Image </button>

       </ion-col>
       <ion-row>
       <ion-col>
          <ion-slides>
              <ion-slide *ngFor="let image of livingRoomImages">
                  <img src="{{image}}" height="300px" width="300px"/>
              </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>

     </ion-row>
     <ion-item-divider>Hallway Uploads</ion-item-divider>
     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressHallway.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressHallway.percentage+'%'}">
               {{progressHallway.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorHallway }}">{{ progressHallwayStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Hallway</ion-label>
       
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('Hallway')"> Choose File </button>
         <button ion-button (click)="capture('Hallway')"> Take Photo </button>
         <button ion-button (click)="uploadImage('Hallway')" *ngIf="hallwayImages.length"> Save Image </button>

       </ion-col>
       
     </ion-row>
     <ion-row>
        <ion-col>
           <ion-slides>
               <ion-slide *ngFor="let image of hallwayImages">
                   <img src="{{image}}" height="300px" width="300px"/>
               </ion-slide>
           </ion-slides>
         </ion-col>
       </ion-row>

     <ion-item-divider>Landing Upstair Uploads</ion-item-divider>
     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressLandingUpstairs.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressLandingUpstairs.percentage+'%'}">
               {{progressLandingUpstairs.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorLandingUpstairs }}">{{ progressLandingUpstairsStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Landing Upstairs</ion-label>
        
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('LandingUpstairs')"> Choose File </button>
         <button ion-button (click)="capture('LandingUpstairs')"> Take Photo </button>
         <button ion-button (click)="uploadImage('LandingUpstairs')" *ngIf="landingUpstairsImages.length"> Save Image </button>
       </ion-col>
       
     </ion-row>

     <ion-row>
        <ion-col>
           <ion-slides>
               <ion-slide *ngFor="let image of landingUpstairsImages">
                   <img src="{{image}}" height="300px" width="300px"/>
               </ion-slide>
           </ion-slides>
         </ion-col>
       </ion-row>

     <ion-item-divider>Front Elevation Uploads</ion-item-divider>
     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressFrontElevation.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressFrontElevation.percentage+'%'}">
               {{progressFrontElevation.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorFrontElevation }}">{{ progressFrontElevationStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Front Elevation</ion-label>
       
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('FrontElevation')"> Choose File </button>
         <button ion-button (click)="capture('FrontElevation')"> Take Photo </button>
         <button ion-button (click)="uploadImage('FrontElevation')" *ngIf="frontElevationImages.length"> Save Image </button>
       </ion-col>
      
     </ion-row>

     <ion-row>
        <ion-col>
           <ion-slides>
               <ion-slide *ngFor="let image of frontElevationImages">
                   <img src="{{image}}" height="300px" width="300px"/>
               </ion-slide>
           </ion-slides>
         </ion-col>
    </ion-row>


     <ion-item-divider>Left Elevation Uploads</ion-item-divider>
     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressLeftElevation.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressLeftElevation.percentage+'%'}">
               {{progressLeftElevation.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorLeftElevation }}">{{ progressLeftElevationStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Left Elevation</ion-label>
       
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('LeftElevation')"> Choose File </button>
         <button ion-button (click)="capture('LeftElevation')"> Take Photo </button>
         <button ion-button (click)="uploadImage('LeftElevation')" *ngIf="leftElevationImages.length"> Save Image </button>

       </ion-col>

     </ion-row>
     <ion-row>
        <ion-col>
           <ion-slides>
               <ion-slide *ngFor="let image of leftElevationImages">
                   <img src="{{image}}" height="300px" width="300px"/>
               </ion-slide>
           </ion-slides>
         </ion-col>
       </ion-row>

     <ion-item-divider>Rear Elevation Uploads</ion-item-divider>
     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressRearElevation.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressRearElevation.percentage+'%'}">
               {{progressRearElevation.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorRearElevation }}">{{ progressRearElevationStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Rear Elevation</ion-label>
       
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('RearElevation')"> Choose File </button>
         <button ion-button (click)="capture('RearElevation')"> Take Photo </button>
         <button ion-button (click)="uploadImage('RearElevation')" *ngIf="rearElevationImages.length"> Save Image </button>

       </ion-col>
      
     </ion-row>
     <ion-row>
        <ion-col>
           <ion-slides>
               <ion-slide *ngFor="let image of rearElevationImages">
                   <img src="{{image}}" height="300px" width="300px"/>
               </ion-slide>
           </ion-slides>
         </ion-col>
       </ion-row>

     <ion-item-divider>Side Elevation Uploads</ion-item-divider>
     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressSideElevation.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressSideElevation.percentage+'%'}">
               {{progressSideElevation.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorSideElevation }}">{{ progressSideElevationStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Side Elevation</ion-label>
    
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('SideElevation')"> Choose File </button>
         <button ion-button (click)="capture('SideElevation')"> Take Photo </button>
         <button ion-button (click)="uploadImage('SideElevation')" *ngIf="sideElevationImages.length"> Save Image </button>

       </ion-col>
      

     </ion-row>
     <ion-row>
        <ion-col>
           <ion-slides>
               <ion-slide *ngFor="let image of sideElevationImages">
                   <img src="{{image}}" height="300px" width="300px"/>
               </ion-slide>
           </ion-slides>
         </ion-col>
       </ion-row>

     <ion-item-divider>Utility Uploads</ion-item-divider>
     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressUtility.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressUtility.percentage+'%'}">
               {{progressUtility.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorUtility }}">{{ progressUtilityStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Utility</ion-label>
        
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('Utility')"> Choose File </button>
         <button ion-button (click)="capture('Utility')"> Take Photo </button>
         <button ion-button (click)="uploadImage('Utility')" *ngIf="utilityImages.length"> Save Image </button>

       </ion-col>
       
     </ion-row>
     <ion-row>
        <ion-col>
           <ion-slides>
               <ion-slide *ngFor="let image of utilityImages">
                   <img src="{{image}}" height="300px" width="300px"/>
               </ion-slide>
           </ion-slides>
         </ion-col>
       </ion-row>

     <ion-item-divider>Heating Source Uploads</ion-item-divider>
     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressHeatingSource.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressHeatingSource.percentage+'%'}">
               {{progressHeatingSource.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorHeatingSource }}">{{ progressHeatingSourceStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Heating Source</ion-label>
         
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('HeatingSource')"> Choose File </button>
         <button ion-button (click)="capture('HeatingSource')"> Take Photo </button>
         <button ion-button (click)="uploadImage('HeatingSource')" *ngIf="heatingSourceImages.length"> Save Image </button>

       </ion-col>
      
     </ion-row>
     <ion-row>
        <ion-col>
           <ion-slides>
               <ion-slide *ngFor="let image of heatingSourceImages">
                   <img src="{{image}}" height="300px" width="300px"/>
               </ion-slide>
           </ion-slides>
         </ion-col>
       </ion-row>

     <ion-item-divider>Bathroom Uploads</ion-item-divider>
     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressBathRoom.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressBathRoom.percentage+'%'}">
               {{progressBathRoom.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorBathRoom }}">{{ progressBathRoomStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Bathroom</ion-label>
      
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('BathRoom')"> Choose File </button>
         <button ion-button (click)="capture('BathRoom')"> Take Photo </button>
         <button ion-button (click)="uploadImage('BathRoom')" *ngIf="bathRoomImages.length"> Save Image </button>

       </ion-col>
       
     </ion-row>
     <ion-row>
        <ion-col>
           <ion-slides>
               <ion-slide *ngFor="let image of bathRoomImages">
                   <img src="{{image}}" height="300px" width="300px"/>
               </ion-slide>
           </ion-slides>
         </ion-col>
       </ion-row>

     <ion-item-divider>Airing Cupboard Uploads</ion-item-divider>
     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressAiringCupboard.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressAiringCupboard.percentage+'%'}">
               {{progressAiringCupboard.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorAiringCupboard }}">{{ progressAiringCupboardStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Airing Cupboard</ion-label>
        
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('AiringCupboard')"> Choose File </button>
         <button ion-button (click)="capture('AiringCupboard')"> Take Photo </button>
         <button ion-button (click)="uploadImage('AiringCupboard')" *ngIf="cupboardImages.length"> Save Image </button>

       </ion-col>
       
     </ion-row>

     <ion-row>
        <ion-col>
           <ion-slides>
               <ion-slide *ngFor="let image of cupboardImages">
                   <img src="{{image}}" height="300px" width="300px"/>
               </ion-slide>
           </ion-slides>
         </ion-col>
       </ion-row>


     <ion-item-divider>Conservatory Uploads</ion-item-divider>
     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressConservatory.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressConservatory.percentage+'%'}">
               {{progressConservatory.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorConservatory }}">{{ progressConservatoryStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Conservatory</ion-label>
        
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('Conservatory')"> Choose File </button>
         <button ion-button (click)="capture('Conservatory')"> Take Photo </button>
         <button ion-button (click)="uploadImage('Conservatory')" *ngIf="conservatoryImages.length"> Save Image </button>

       </ion-col>
      
     </ion-row>
     <ion-row>
        <ion-col>
           <ion-slides>
               <ion-slide *ngFor="let image of conservatoryImages">
                   <img src="{{image}}" height="300px" width="300px"/>
               </ion-slide>
           </ion-slides>
         </ion-col>
       </ion-row>

     <ion-item-divider>Other Uploads</ion-item-divider>
     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressOther.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressOther.percentage+'%'}">
               {{progressOther.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorOther }}">{{ progressOtherStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Other</ion-label>
       
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('Other')"> Choose File </button>
         <button ion-button (click)="capture('Other')"> Take Photo </button>
         <button ion-button (click)="uploadImage('Other')" *ngIf="othersImages.length"> Save Image </button>

       </ion-col>
      
     </ion-row>
     <ion-row>
        <ion-col>
           <ion-slides>
               <ion-slide *ngFor="let image of othersImages">
                   <img src="{{image}}" height="300px" width="300px"/>
               </ion-slide>
           </ion-slides>
         </ion-col>
       </ion-row>

     <ion-item-divider>Stairs Uploads</ion-item-divider>
     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressStairs.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressStairs.percentage+'%'}">
               {{progressStairs.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorStairs }}">{{ progressStairsStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Stairs</ion-label>
       
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('Stairs')"> Choose File </button>
         <button ion-button (click)="capture('Stairs')"> Take Photo </button>
         <button ion-button (click)="uploadImage('Stairs')" *ngIf="stairsImages.length"> Save Image </button>
       </ion-col>

      
     </ion-row>
     <ion-row>
        <ion-col>
           <ion-slides>
               <ion-slide *ngFor="let image of stairsImages">
                   <img src="{{image}}" height="300px" width="300px"/>
               </ion-slide>
           </ion-slides>
         </ion-col>
       </ion-row>

     <ion-item-divider>Garage Uploads</ion-item-divider>
     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressGarage.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressGarage.percentage+'%'}">
               {{progressGarage.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorGarage }}">{{ progressGarageStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Garage</ion-label>
       
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('Garage')"> Choose File </button>
         <button ion-button (click)="capture('Garage')"> Take Photo </button>
         <button ion-button (click)="uploadImage('Garage')" *ngIf="garageImages.length"> Save Image </button>

       </ion-col>

       
     </ion-row>
     <ion-row>
        <ion-col>
           <ion-slides>
               <ion-slide *ngFor="let image of garageImages">
                   <img src="{{image}}" height="300px" width="300px"/>
               </ion-slide>
           </ion-slides>
         </ion-col>
      </ion-row>

     <ion-item-divider>Wall Thickness Uploads</ion-item-divider>
     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressWallThickness.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressWallThickness.percentage+'%'}">
               {{progressWallThickness.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorWallThickness }}">{{ progressWallThicknessStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Wall Thickness</ion-label>
       
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('WallThickness')"> Choose File </button>
         <button ion-button (click)="capture('WallThickness')"> Take Photo </button>
         <button ion-button (click)="uploadImage('WallThickness')" *ngIf="wallthicknessImages.length"> Save Image </button>

       </ion-col>

      
     </ion-row>
     <ion-row>
        <ion-col>
           <ion-slides>
               <ion-slide *ngFor="let image of wallthicknessImages">
                   <img src="{{image}}" height="300px" width="300px"/>
               </ion-slide>
           </ion-slides>
         </ion-col>
       </ion-row>

     <ion-item-divider>Fused Spur Uploads</ion-item-divider>
     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressFusedSpur.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressFusedSpur.percentage+'%'}">
               {{progressFusedSpur.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorFusedSpur }}">{{ progressFusedSpurStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Fused Spur</ion-label>
        
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('FusedSpur')"> Choose File </button>
         <button ion-button (click)="capture('FusedSpur')"> Take Photo </button>
         <button ion-button (click)="uploadImage('FusedSpur')" *ngIf="fusedSpurImages.length"> Save Image </button>

       </ion-col>
       
      
     </ion-row>
     <ion-row>
        <ion-col>
           <ion-slides>
               <ion-slide *ngFor="let image of fusedSpurImages">
                   <img src="{{image}}" height="300px" width="300px"/>
               </ion-slide>
           </ion-slides>
         </ion-col>
       </ion-row>

     <ion-item-divider>Room Stat Uploads</ion-item-divider>
     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressRoomStat.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressRoomStat.percentage+'%'}">
               {{progressRoomStat.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorRoomStat }}">{{ progressRoomStatStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Room Stat</ion-label>
        
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('RoomStat')"> Choose File </button>
         <button ion-button (click)="capture('RoomStat')"> Take Photo </button>
         <button ion-button (click)="uploadImage('RoomStat')" *ngIf="roomStatImages.length"> Save Image </button>

       </ion-col>

       
     </ion-row>
     <ion-row>
        <ion-col>
           <ion-slides>
               <ion-slide *ngFor="let image of roomStatImages">
                   <img src="{{image}}" height="20px" width="20px"/>
               </ion-slide>
           </ion-slides>
         </ion-col>
       </ion-row>

     <ion-item-divider>Programmer Uploads</ion-item-divider>
     <ion-row>
       <ion-col>
         <div  class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressProgrammer.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressProgrammer.percentage+'%'}">
               {{progressProgrammer.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorProgrammer }}">{{ progressProgrammerStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Programmer</ion-label>
      
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('Programmer')"> Choose File </button>
         <button ion-button (click)="capture('Programmer')"> Take Photo </button>
         <button ion-button (click)="uploadImage('Programmer')" *ngIf="programmerImages.length"> Save Image </button>

       </ion-col>

       
     </ion-row>
     <ion-row>
        <ion-col>
           <ion-slides>
               <ion-slide *ngFor="let image of programmerImages">
                   <img src="{{image}}" height="20" width="20"/>
               </ion-slide>
           </ion-slides>
         </ion-col>
       </ion-row>
      </ion-scroll>
   </ion-grid>
  
  </ion-card-content>
</ion-card>
