image-upload-surveyor {
  .card-header {
    background-color: map-get($colors, primary);
    color: #fff;
  }

  .card-content {
    padding: 0px 16px;
    max-height: 0px;
  }

  .progress {
      width: 96%;
      margin: 10px 2%;
      padding: 3px;
      text-align: center;
      background-color: #f4f4f4;
      border: 1px solid #dcdcdc;
      color: #fff;
      border-radius: 20px;
  }

  .progress-bar {
      min-width: 15%;
      white-space: nowrap;
      overflow: hidden;
      padding: 5px;
      border-radius: 10px;
      background-color: map-get($colors, primary);
  }

  .drawing-active {
     background: #d6fffc;
  }

  .title {
    text-align: center;
    font-weight: bold;
    padding: 10px;
  }
}
