<!-- Generated template for the AccordionLoftComponent component -->
<ion-card>
  <ion-card-header (click)="toggleAccordionSurveyor()">
    <ion-list>
      <ion-item color="primary">
        <button ion-button clear small icon-only item-right>
          <ion-icon color="light" [name]="icon"></ion-icon>
        </button>
        {{ title }}
      </ion-item>
    </ion-list>
  </ion-card-header>

  <ion-card-content #surveyorForms>

    <!-- <ion-item *ngFor="let att of anArray; let idx = index">
     <ion-label color="primary">{{att.label}}{{idx+1}}</ion-label>
     <ion-input type="text"  text-right  [(ngModel)]="anArray[idx].value"></ion-input>
   </ion-item>
   <button ion-button   (click)="Add()">Add More</button>
   <button ion-button full  (click)="goTo()" >let's go</button>

   <ion-card *ngIf="data">
     <ion-item *ngFor="let att of anArray;">
       <div class="card-title">{{att.value}}</div>
     </ion-item>
   </ion-card> -->
   <ion-grid>
     <!-- <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progress.percentage+'%'}">
               {{progress.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="danger">Not yet Uploaded</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Bedroom</ion-label>
       </ion-col>

       <ion-col>
         <ion-label color="primary"> <input type="file" (change)="selectFileSurveyor($event)"/></ion-label>

         <button ion-button class="primary" [disabled]="!selectedFiles" (click)="uploadSurveyor()">Upload</button>

       </ion-col>
     </ion-row> -->


       <!-- <ion-row *ngFor="let item of forLoopArray(bedroom); let i = index">
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progress.percentage+'%'}">
               {{progress.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="danger">Not yet Uploaded</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary" >Bedroom - {{ i + 1 }}</ion-label>
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('Bedroom')"> Choose File </button>
         <button ion-button (click)="uploadImage('Bedroom')"> Upload Image </button>

       </ion-col>
      </ion-row>

-->
  <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressKitchen.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressKitchen.percentage+'%'}">
               {{progressKitchen.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorKitchen }}">{{ progressKitchenStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Kitchen</ion-label>
         <img [src]="base64ImageKitchen" width="80" height="80" *ngIf="base64ImageKitchen"/>
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('Kitchen')"> Choose File </button>
         <button ion-button (click)="capture('Kitchen')"> Take Photo </button>
         <button ion-button (click)="uploadImage('Kitchen')" *ngIf="base64ImageKitchen"> Upload Image </button>

       </ion-col>
     </ion-row>

     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressDinningRoom.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressDinningRoom.percentage+'%'}">
               {{progressDinningRoom.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorDinningRoom }}">{{ progressDinningRoomStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Dining Room</ion-label>
         <img [src]="base64ImageDinningRoom" width="80" height="80" *ngIf="base64ImageDinningRoom"/>
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('DinningRoom')"> Choose File </button>
         <button ion-button (click)="capture('DinningRoom')"> Take Photo </button>
         <button ion-button (click)="uploadImage('DinningRoom')" *ngIf="base64ImageDinningRoom"> Upload Image </button>

       </ion-col>
     </ion-row>

     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressLivingRoom.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressLivingRoom.percentage+'%'}">
               {{progressLivingRoom.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorLivingRoom }}">{{ progressLivingRoomStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Living Room</ion-label>
         <img [src]="base64ImageLivingRoom" width="80" height="80" *ngIf="base64ImageLivingRoom"/>
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('LivingRoom')"> Choose File </button>
         <button ion-button (click)="capture('LivingRoom')"> Take Photo </button>
         <button ion-button (click)="uploadImage('LivingRoom')" *ngIf="base64ImageLivingRoom"> Upload Image </button>

       </ion-col>
     </ion-row>

     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressHallway.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressHallway.percentage+'%'}">
               {{progressHallway.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorHallway }}">{{ progressHallwayStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Hallway</ion-label>
         <img [src]="base64ImageHallway" width="80" height="80" *ngIf="base64ImageHallway"/>
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('Hallway')"> Choose File </button>
         <button ion-button (click)="capture('Hallway')"> Take Photo </button>
         <button ion-button (click)="uploadImage('Hallway')" *ngIf="base64ImageHallway"> Upload Image </button>

       </ion-col>
     </ion-row>

     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressLandingUpstairs.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressLandingUpstairs.percentage+'%'}">
               {{progressLandingUpstairs.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorLandingUpstairs }}">{{ progressLandingUpstairsStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Landing Upstairs</ion-label>
         <img [src]="base64ImageLandingUpstairs" width="80" height="80" *ngIf="base64ImageLandingUpstairs"/>
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('LandingUpstairs')"> Choose File </button>
         <button ion-button (click)="capture('LandingUpstairs')"> Take Photo </button>
         <button ion-button (click)="uploadImage('LandingUpstairs')" *ngIf="base64ImageLandingUpstairs"> Upload Image </button>
       </ion-col>
     </ion-row>

     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressFrontElevation.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressFrontElevation.percentage+'%'}">
               {{progressFrontElevation.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorFrontElevation }}">{{ progressFrontElevationStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Front Elevation</ion-label>
         <img [src]="base64ImageFrontElevation" width="80" height="80" *ngIf="base64ImageFrontElevation"/>
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('FrontElevation')"> Choose File </button>
         <button ion-button (click)="capture('FrontElevation')"> Take Photo </button>
         <button ion-button (click)="uploadImage('FrontElevation')" *ngIf="base64ImageFrontElevation"> Upload Image </button>
       </ion-col>
     </ion-row>

     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressLeftElevation.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressLeftElevation.percentage+'%'}">
               {{progressLeftElevation.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorLeftElevation }}">{{ progressLeftElevationStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Left Elevation</ion-label>
         <img [src]="base64ImageLeftElevation" width="80" height="80" *ngIf="base64ImageLeftElevation"/>
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('LeftElevation')"> Choose File </button>
         <button ion-button (click)="capture('LeftElevation')"> Take Photo </button>
         <button ion-button (click)="uploadImage('LeftElevation')" *ngIf="base64ImageLeftElevation"> Upload Image </button>

       </ion-col>
     </ion-row>

     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressRearElevation.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressRearElevation.percentage+'%'}">
               {{progressRearElevation.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorRearElevation }}">{{ progressRearElevationStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Rear Elevation</ion-label>
         <img [src]="base64ImageRearElevation" width="80" height="80" *ngIf="base64ImageRearElevation"/>
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('RearElevation')"> Choose File </button>
         <button ion-button (click)="capture('RearElevation')"> Take Photo </button>
         <button ion-button (click)="uploadImage('RearElevation')" *ngIf="base64ImageRearElevation"> Upload Image </button>

       </ion-col>
     </ion-row>

     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressSideElevation.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressSideElevation.percentage+'%'}">
               {{progressSideElevation.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorSideElevation }}">{{ progressSideElevationStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Side Elevation</ion-label>
         <img [src]="base64ImageSideElevation" width="80" height="80" *ngIf="base64ImageSideElevation"/>
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('SideElevation')"> Choose File </button>
         <button ion-button (click)="capture('SideElevation')"> Take Photo </button>
         <button ion-button (click)="uploadImage('SideElevation')" *ngIf="base64ImageSideElevation"> Upload Image </button>

       </ion-col>
     </ion-row>

     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressUtility.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressUtility.percentage+'%'}">
               {{progressUtility.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorUtility }}">{{ progressUtilityStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Utility</ion-label>
         <img [src]="base64ImageUtility" width="80" height="80" *ngIf="base64ImageUtility"/>
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('Utility')"> Choose File </button>
         <button ion-button (click)="capture('Utility')"> Take Photo </button>
         <button ion-button (click)="uploadImage('Utility')" *ngIf="base64ImageUtility"> Upload Image </button>

       </ion-col>
     </ion-row>

     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressHeatingSource.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressHeatingSource.percentage+'%'}">
               {{progressHeatingSource.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorHeatingSource }}">{{ progressHeatingSourceStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Heating Source</ion-label>
         <img [src]="base64ImageHeatingSource" width="80" height="80" *ngIf="base64ImageHeatingSource"/>
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('HeatingSource')"> Choose File </button>
         <button ion-button (click)="capture('HeatingSource')"> Take Photo </button>
         <button ion-button (click)="uploadImage('HeatingSource')" *ngIf="base64ImageHeatingSource"> Upload Image </button>

       </ion-col>
     </ion-row>

     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressBathRoom.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressBathRoom.percentage+'%'}">
               {{progressBathRoom.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorBathRoom }}">{{ progressBathRoomStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Bathroom</ion-label>
         <img [src]="base64ImageBathRoom" width="80" height="80" *ngIf="base64ImageBathRoom"/>
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('BathRoom')"> Choose File </button>
         <button ion-button (click)="capture('BathRoom')"> Take Photo </button>
         <button ion-button (click)="uploadImage('BathRoom')" *ngIf="base64ImageBathRoom"> Upload Image </button>

       </ion-col>
     </ion-row>

     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressAiringCupboard.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressAiringCupboard.percentage+'%'}">
               {{progressAiringCupboard.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorAiringCupboard }}">{{ progressAiringCupboardStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Airing Cupboard</ion-label>
         <img [src]="base64ImageAiringCupboard" width="80" height="80" *ngIf="base64ImageAiringCupboard"/>
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('AiringCupboard')"> Choose File </button>
         <button ion-button (click)="capture('AiringCupboard')"> Take Photo </button>
         <button ion-button (click)="uploadImage('AiringCupboard')" *ngIf="base64ImageAiringCupboard"> Upload Image </button>

       </ion-col>
     </ion-row>

     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressConservatory.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressConservatory.percentage+'%'}">
               {{progressConservatory.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorConservatory }}">{{ progressConservatoryStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Conservatory</ion-label>
         <img [src]="base64ImageConservatory" width="80" height="80" *ngIf="base64ImageConservatory"/>
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('Conservatory')"> Choose File </button>
         <button ion-button (click)="capture('Conservatory')"> Take Photo </button>
         <button ion-button (click)="uploadImage('Conservatory')" *ngIf="base64ImageConservatory"> Upload Image </button>

       </ion-col>
     </ion-row>

     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressOther.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressOther.percentage+'%'}">
               {{progressOther.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorOther }}">{{ progressOtherStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Other</ion-label>
         <img [src]="base64ImageOther" width="80" height="80" *ngIf="base64ImageOther"/>
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('Other')"> Choose File </button>
         <button ion-button (click)="capture('Other')"> Take Photo </button>
         <button ion-button (click)="uploadImage('Other')" *ngIf="base64ImageOther"> Upload Image </button>

       </ion-col>
     </ion-row>

     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressStairs.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressStairs.percentage+'%'}">
               {{progressStairs.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorStairs }}">{{ progressStairsStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Stairs</ion-label>
         <img [src]="base64ImageStairs" width="80" height="80" *ngIf="base64ImageStairs"/>
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('Stairs')"> Choose File </button>
         <button ion-button (click)="capture('Stairs')"> Take Photo </button>
         <button ion-button (click)="uploadImage('Stairs')" *ngIf="base64ImageStairs"> Upload Image </button>
       </ion-col>
     </ion-row>

     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressGarage.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressGarage.percentage+'%'}">
               {{progressGarage.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorGarage }}">{{ progressGarageStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Garage</ion-label>
         <img [src]="base64ImageGarage" width="80" height="80" *ngIf="base64ImageGarage"/>
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('Garage')"> Choose File </button>
         <button ion-button (click)="capture('Garage')"> Take Photo </button>
         <button ion-button (click)="uploadImage('Garage')" *ngIf="base64ImageGarage"> Upload Image </button>

       </ion-col>
     </ion-row>

     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressWallThickness.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressWallThickness.percentage+'%'}">
               {{progressWallThickness.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorWallThickness }}">{{ progressWallThicknessStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Wall Thickness</ion-label>
         <img [src]="base64ImageWallThickness" width="80" height="80" *ngIf="base64ImageWallThickness"/>
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('WallThickness')"> Choose File </button>
         <button ion-button (click)="capture('WallThickness')"> Take Photo </button>
         <button ion-button (click)="uploadImage('WallThickness')" *ngIf="base64ImageWallThickness"> Upload Image </button>

       </ion-col>
     </ion-row>

     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressFusedSpur.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressFusedSpur.percentage+'%'}">
               {{progressFusedSpur.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorFusedSpur }}">{{ progressFusedSpurStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Fused Spur</ion-label>
         <img [src]="base64ImageFusedSpur" width="80" height="80" *ngIf="base64ImageFusedSpur"/>
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('FusedSpur')"> Choose File </button>
         <button ion-button (click)="capture('FusedSpur')"> Take Photo </button>
         <button ion-button (click)="uploadImage('FusedSpur')" *ngIf="base64ImageFusedSpur"> Upload Image </button>

       </ion-col>
     </ion-row>

     <ion-row>
       <ion-col>
         <div class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressRoomStat.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressRoomStat.percentage+'%'}">
               {{progressRoomStat.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorRoomStat }}">{{ progressRoomStatStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Room Stat</ion-label>
         <img [src]="base64ImageRoomStat" width="80" height="80" *ngIf="base64ImageRoomStat"/>
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('RoomStat')"> Choose File </button>
         <button ion-button (click)="capture('RoomStat')"> Take Photo </button>
         <button ion-button (click)="uploadImage('RoomStat')" *ngIf="base64ImageRoomStat"> Upload Image </button>

       </ion-col>
     </ion-row>

     <ion-row>
       <ion-col>
         <div  class="progress" style="width:300px">
           <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" attr.aria-valuenow="{{progressProgrammer.percentage}}"
               aria-valuemin="0" aria-valuemax="100"
               [ngStyle]="{width:progressProgrammer.percentage+'%'}">
               {{progressProgrammer.percentage}}%
             </div>
         </div>
       </ion-col>
       <ion-col>
        <ion-label color="{{ colorProgrammer }}">{{ progressProgrammerStatus }}</ion-label>
       </ion-col>
       <ion-col>
         <ion-label color="primary">Programmer</ion-label>
         <img [src]="base64ImageProgrammer" width="80" height="80" *ngIf="base64ImageProgrammer"/>
       </ion-col>

       <ion-col>
         <button ion-button (click)="openGallery('Programmer')"> Choose File </button>
         <button ion-button (click)="capture('Programmer')"> Take Photo </button>
         <button ion-button (click)="uploadImage('Programmer')" *ngIf="base64ImageProgrammer"> Upload Image </button>

       </ion-col>
     </ion-row>
   </ion-grid>

  </ion-card-content>
</ion-card>
