<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">

   <ion-buttons left>
     <button ion-button icon-only menuToggle="left">
       <ion-icon name="menu"></ion-icon>
     </button>
   </ion-buttons>

   <ion-title>Dashboard</ion-title>

   <ion-buttons end>
     <button id="notification-button" ion-button clear>
   <ion-icon name="notifications">
     <ion-badge id="notifications-badge" color="danger">5</ion-badge>
   </ion-icon>
    </button>
   </ion-buttons>

 </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-card>
      <ion-card-header>
        Welcome {{ surveyorName }} !

      </ion-card-header>
      <ion-card-content>
        [Reminders here]
    

        <ion-item>
          <!-- <button ion-button (click)="openGallery()"> Open Gallery </button>
          <button ion-button (click)="uploadImage()"> Upload Image </button>
          <img [src]="base64Image"/> -->

        </ion-item>

      </ion-card-content>

      <!-- <ion-card-content>

         <button  ion-button (click)="saveOtpCode()">Add</button>
      </ion-card-content> -->
    </ion-card>

    <ion-card>
      <ion-card-header>
        Leads Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas> </canvas>
      </ion-card-content>
    </ion-card>

    <!-- Leads Completed -->
    <ion-list padding-bottom>
      <ion-list-header class="sectionCompleted">
        <ion-icon name="checkmark-circle-outline" start></ion-icon>
        &nbsp; Completed
      </ion-list-header>
      <ion-item *ngFor="let l of leadsCompleted">
          <ion-item>
          <ion-thumbnail item-left>
           <img src="assets/imgs/orange-send-file-64.png">
         </ion-thumbnail>

         <h5>{{l.c_campaign_name}}</h5>
         <p clear item-right>{{ l.created_at | timeAgo }}</p>
       </ion-item>

      </ion-item>

      <!-- <ion-item *ngIf="isleadsCompletedHaveValue()">
        No Leads Completed.
      </ion-item> -->

    </ion-list>
  <!-- In progress -->
   <ion-list padding-bottom>
     <ion-list-header class="sectionInProgress">
       <ion-icon name="book" start></ion-icon>
       &nbsp; In Progress

     </ion-list-header>
     <ion-item *ngFor="let l of leadsInProgress">
          <ion-item (click)="openLeads(l.lead_slug, l.c_campaign_name, leadsInProgress)">
         <ion-thumbnail item-left>
          <img src="assets/imgs/orange-send-file-64.png">
        </ion-thumbnail>

        <h5>{{l.c_campaign_name}}</h5>
        <p clear item-right>{{ l.created_at | timeAgo }}</p>

          </ion-item>
      </ion-item>
        <!-- <progress-bar [progress]="loadProgress()"></progress-bar> -->

   </ion-list>

  <!-- Added Leads -->
   <ion-list padding-bottom>
     <ion-list-header class="sectionAdded">
       <ion-icon name="clipboard" start></ion-icon>
       &nbsp; Added Leads
     </ion-list-header>

         <ion-item *ngFor="let l of leadsNew">
           <ion-item>
         <ion-thumbnail item-left>
          <img src="assets/imgs/orange-send-file-64.png">
        </ion-thumbnail>

        <h4>{{l.c_campaign_name}}</h4>
        <p clear item-right>{{ l.created_at | timeAgo }}</p>
        <button ion-button (click)="updateLeads(l.lead_slug, 'Accept')"> Accept </button>
        <button ion-button (click)="updateLeads(l.lead_slug, 'Decline')"> Decline </button>
          </ion-item>
       </ion-item>



   </ion-list>

</ion-content>
