<!-- Generated template for the AccordionComponent component -->
<ion-card>
  <ion-card-header (click)="toggleAccordionBoiler()">
    <ion-list>
      <ion-item color="primary">
        <button ion-button clear small icon-only item-right>
          <ion-icon color="light" [name]="icon"></ion-icon>
        </button>
        {{ title }}
      </ion-item>
    </ion-list>
  </ion-card-header>

  <ion-card-content #boilerForms>
    <ion-item>
      <ion-label color="primary" stacked>Main Wall Construction Type</ion-label>
      <ion-select [(ngModel)]="mainWallConstType">
        <ion-option value="> 50% Cavity Wall">> 50% Cavity Wall</ion-option>
        <ion-option value="> 50% Solid Wall">> 50% Solid Wall</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Are there a full set of functioning pre-existing heating controls?</ion-label>
      <ion-select [(ngModel)]="preExistHeatControls">
        <ion-option value="Yes">Yes</ion-option>
        <ion-option value="No">No</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>If applicable, please record fault(s)</ion-label>
      <ion-input clearInput> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>What heating controls currently exist? (Tick all that apply) - Programmer</ion-label>
      <ion-select [(ngModel)]="heatControlsCurrent" multiple>
        <ion-option value="Room Thermostat">Room Thermostat</ion-option>
        <ion-option value="TRV">TRV</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Existing number of Normal Radiators</ion-label>
      <ion-input clearInput> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Existing number of Towel Radiators</ion-label>
      <ion-input clearInput> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Existing number of TRV's</ion-label>
      <ion-input clearInput> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Boiler REPAIR no pre-existing heating controls</ion-label>
      <ion-input clearInput> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Boiler REPLACE no pre-existing heating controls</ion-label>
      <ion-input clearInput> </ion-input>
    </ion-item>

    <ion-item-divider>Non-qualifying Boiler</ion-item-divider>
      <ion-item>
        <ion-label color="primary" stacked>Boiler REPAIR no pre-existing heating controls</ion-label>
        <ion-input clearInput> </ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" stacked>Boiler REPLACE no pre-existing heating controls</ion-label>
        <ion-input clearInput> </ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" stacked>Heating Controls</ion-label>
        <ion-input clearInput> </ion-input>
      </ion-item>


  </ion-card-content>
</ion-card>
